
@import "ember-bootstrap/bootstrap";

.content{
	width: 700px;
	color: #555;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.header-block{
	background-color: rgba(74, 179, 244,0.66);
	color: #fff;
	padding: 10px;
	box-shadow: 1px 1px 5px #ddd;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.salary-block{
	margin-top: 60px; 
}

.salary{
	margin: 10px 0;
}

.salary.active{
	opacity: 1;
}

.salary .label{
	display: inline-block;
	width: 250px;
	font-size: 20px;
}

.salary input{
	font-size: 30px;
	width: 120px;
	border: 0;
	border-bottom: 1px solid #eee;
	box-shadow: 1px 1px 5px #ddd;
	margin-left: 20px;
	padding: 0 5px; 
}

.salary input:focus{
	outline: none;
}

.fot-block{
	font-size: 16px;
	margin-top: 60px;
	padding-left: 15px;
}

.fot-block .value{
	margin-left: 3px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	min-width: 80px;
	display: inline-block;
}

.fot-block,
.taxes-block{
	transition: all 200ms;
}

.fot-block.inactive,
.taxes-block.inactive{
	opacity: 0.5;
}

.taxes-block{
	margin-top: 20px;
	padding-top: 10px;
	box-shadow: 1px 1px 5px #bbb;
}

.taxes-block .header{
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	font-size: 16px;
	text-align: center;
	background-color: rgba(74, 179, 244,0.66);
	color: #fff;
}

.tax{
	margin: 15px 0;
}

.tax.total{
	border-top: 1px solid #eee;
	padding-top: 10px; 
}

.tax.total .value{
	font-weight: bold;
}

.tax .label{
	display: inline-block;
	width: 215px;
	text-align: right;
	padding-right: 10px;
	color: #8899A6;
}

.label>i{
	color: #4AB3F4;
	cursor: pointer;
}

.tax .value{
	display: inline-block;
	width: 100px;	
}

.taxes-info-block{
	margin-top: 30px;
}

.tax-info{
	padding: 10px 15px;
	border-top: 1px solid #eee;
}

.tax-info .label{
	font-size: 16px;
	font-weight: bold;
}

.tax-info .calculation{
	font-size: 13px;
	color: #8899A6;
}

.tax-info i{
	font-size: 10px;
}

.tax-info a{
	color: #4AB3F4;
}

@keyframes highlight {
  0% {
    background: #E8F5FD
  }
  100% {
    background: none;
  }
}

.highlight {
  animation: highlight 1800ms;
}