
@import "ember-bootstrap/bootstrap";

$text-light-color: #555;
$links-color: #4AB3F4;
$grey-color: #8899A6;

.content{
	width: 700px;
	color: $text-light-color;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.header-block{
	background-color: rgba(74, 179, 244,0.66);
	color: #fff;
	padding: 10px;
	box-shadow: 1px 1px 5px #bbb;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.salary-block{
	margin-top: 60px;

	.salary{
		margin: 10px 0;

		.label{
			display: inline-block;
			width: 250px;
			font-size: 20px;
		}

		input{
			font-size: 30px;
			width: 120px;
			border: 0;
			border-bottom: 1px solid #eee;
			box-shadow: 1px 1px 5px #ddd;
			margin-left: 20px;
			padding: 0 5px; 
		}

		input:focus{
			outline: none;
		}
	}

	.salary.active{
		opacity: 1;
	}
}

.fot-block,
.taxes-block{
	transition: all 200ms;
}

.fot-block.inactive,
.taxes-block.inactive{
	opacity: 0.5;
}

.fot-block{
	font-size: 16px;
	margin-top: 60px;
	padding-left: 15px;

	.value{
		margin-left: 3px;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		min-width: 80px;
		display: inline-block;
	}
}

.label>i{
	color: $links-color;
	cursor: pointer;
}

.taxes-block{
	margin-top: 20px;
	padding-top: 10px;
	box-shadow: 1px 1px 5px #bbb;

	.header{
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		font-size: 16px;
		text-align: center;
		background-color: rgba(74, 179, 244,0.66);
		color: #fff;
	}

	.tax{
		margin: 15px 0;

		.label{
			display: inline-block;
			width: 215px;
			text-align: right;
			padding-right: 10px;
			color: $grey-color;
		}

		.value{
			display: inline-block;
			width: 100px;	
		}
	}

	.tax.total{
		border-top: 1px solid #eee;
		padding-top: 10px; 

		.value{
			font-weight: bold;
		}
	}

}


.taxes-info-block{
	margin: 30px 0 20px;

	.tax-info{
		padding: 10px 15px;
		border-top: 1px solid #eee;
		.label{
			font-size: 16px;
			font-weight: bold;
		}

		a{
			color: $links-color;
		}

		.body a i{
			font-size: 10px;
			color: $text-light-color;
		}

		.calculation{
			font-size: 13px;
			color: $grey-color;

			i{
				font-size: 10px;
				vertical-align: top;
				margin-top: 4px;
			}
		}
	}

	@keyframes highlight {
	  0% {
	    background: #E8F5FD
	  }
	  100% {
	    background: none;
	  }
	}

	.highlight {
	  animation: highlight 1500ms;
	}

}

.more-info-block{
	margin-bottom: 30px;
	padding-top: 20px;
	border-top: 1px solid #eee;

	>.btn{
		width: 100% !important;
		background-color: #fff !important;
		border: 1px solid #ddd !important;
		box-shadow: 1px 1px 5px #ddd !important;
		color: $grey-color !important;
		padding: 0 !important;
	}

	.well{
		width: 70%;
		margin: 0 auto;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin: 10px 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}